.statistic-info {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding-top: 2vw;

  .country-info-flag {
    border: 1px solid rgba(0, 0, 0, 0.233);
    height: 8.25vw;
    width: 14vw;
    margin-top: 4.5vw;
  }
}

.expand {
  .statistic-info {
    justify-content: center;
    align-items: center;

    * {
      font-size: 2vw;
    }

    .country-info-flag {
      border: 0.5px solid black;
      height: 20vw;
      width: 35vw;
    }
  }
}
