$light-chookolate-color: #cab09e;
$ocher-color: rgb(175, 121, 89);

.wrapper-table-wrapper {
  width: 29%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .tbl-name-expnd-btn,
  .input-i-descr {
    display: flex;
    justify-content: space-between;
    width: 100%;

    h1 {
      font-size: 1.7vw;
    }
  }
}

.table-wrapper {
  height: 70%;
  overflow-y: scroll;

  .table {
    tr {
      width: 100%;

      td {
        text-align: center;
        border: 1px solid $light-chookolate-color;
      }

      td:first-child {
        width: 20%;
      }

      td:nth-child(2) {
        width: 50%;
      }
    }
  }
}

.table-wrapper::-webkit-scrollbar {
  width: 0.4vw;
  background-color: $light-chookolate-color;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #b6683b;
}

.country-flag {
  margin-right: 1vw;
  border: 0.5px solid black;
}

td:last-child {
  width: 30%;
}

.country-flag {
  height: 0.8vw;
}
