$ocher-color: rgb(175, 121, 89);
$border-settings: 1px solid rgba(0, 0, 0, 0.39);

* {
  margin: 0;
  padding: 0;
  font-family: FreeMono, monospace;
  font-size: 1vw;
}

.filters {
  padding: 1vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: $border-settings;

  .covid-logo {
    padding: 0.2vw;
    font-size: 1.5vw;
    background-color: $ocher-color;
    color: white;
    outline: 4px double rgba(124, 58, 3, 0.219);
  }
}

.tables {
  padding: 1vw;
  width: 98vw;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
}

.chart-data-map {
  display: flex;
  justify-content: space-around;
  padding: 1.5vw;
  border-top: $border-settings;
  border-bottom: $border-settings;

  .statistic-data {
    width: 15vw;
  }

  .map-statistic {
    width: 50vw;
    border: 1px solid black;
  }
}

.pick-country-btn,
.expand-btn,
.recet-btn {
  font-family: FreeMono, monospace;
  padding: 0.3vw;
  background-color: $ocher-color;
  border: none;
  outline: none;
  color: white;
}

.pick-country-btn:hover,
.expand-btn:hover,
.recet-btn:hover {
  cursor: pointer;
  background-color: #cab09e;
}

footer {
  height: 2.5vw;
  width: 100vw;
  display: flex;
  justify-content: center;

  .footer-info {
    display: flex;
    padding-top: 1vw;
    width: 80%;
    height: 100%;
    justify-content: space-between;

    a,
    span {
      color: rgb(175, 121, 89);
      align-items: center;
      height: 2vw;
    }

    a:hover {
      color: #b6683b;
      font-weight: 600;
    }

    .rs-logo {
      height: 1.5vw;
    }
  }
}

.expand {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw !important;
  z-index: 5;
  justify-content: center;
  align-items: center;

  .tbl-name-expnd-btn,
  .input-i-descr {
    width: 30%;
    padding: 1vw;
  }

  .table-wrapper {
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;

    .table {
      width: 100%;
      height: 100%;
    }
    tr {
      height: 4vw;
    }
  }
}
